body {
  background: image-url("/coins-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-site{
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 50px;
}

.title-box{
  margin-top: 20%;
  .title{
    color: white;
    text-shadow: 2px 0px 2px #000000;
  }
}

.exchange_box{
  margin: 10px auto;
  .logo-box{
    margin: 0 auto;
    padding-bottom: 10px;

  }


.logo-box-rotate{
  transition: 2s ease;
  transform: rotate(700grad);
}
}
